node_modules/
temp/

score_calculation_it/output_data/arbres/
score_calculation_it/output_data/bancs/
score_calculation_it/output_data/eaux/
score_calculation_it/output_data/fontaines/
score_calculation_it/output_data/network/edges/
score_calculation_it/output_data/network/graph/*.gpkg
score_calculation_it/output_data/ombres/
score_calculation_it/output_data/parcs/
score_calculation_it/output_data/toilettes/
score_calculation_it/output_data/tourisme/
score_calculation_it/output_data/vegetation/

score_calculation_it/input_data/ambroisie
score_calculation_it/input_data/arbres/
score_calculation_it/input_data/bancs/*.gpkg
score_calculation_it/input_data/batiments/
score_calculation_it/input_data/bruit/
score_calculation_it/input_data/cache/
score_calculation_it/input_data/eaux_details/
score_calculation_it/input_data/eaux_importants/
score_calculation_it/input_data/empreinte/
score_calculation_it/input_data/fontaines_ornementales/*.gpkg
score_calculation_it/input_data/fontaines_potables/*.gpkg
score_calculation_it/input_data/network/
score_calculation_it/input_data/parcs/*.gpkg
score_calculation_it/input_data/temperature/
score_calculation_it/input_data/toilettes/*.gpkg
score_calculation_it/input_data/tourisme/*.gpkg
score_calculation_it/input_data/vegetation/
score_calculation_it/input_data/bounding_metrop.gpkg
