node_modules/
temp/

score_calculation_it/output_data/network/edges/
score_calculation_it/output_data/bancs/
score_calculation_it/output_data/eaux/
score_calculation_it/output_data/fontaines/
score_calculation_it/output_data/parcs/
score_calculation_it/output_data/toilettes/
score_calculation_it/output_data/vegetation/
score_calculation_it/output_data/arbres/
score_calculation_it/output_data/parcs/
score_calculation_backup/
score_calculation_it/output_data/batiments/
#score_calculation_it/output_data/network/
#score_calculation_it/output_data/network/graph/final_network_P0_01O5At0_01Ar10C0_01E5Ca.pickle
#score_calculation_it/output_data/network/graph/final_network_P0_01O5At0_01Ar10C0_01E5Ca_multidigraph.pickle


score_calculation_it/input_data